@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
  --container-width:720px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
    --primary-color: #1a202c;
    --primary-color-alpha: #1a202c33;
    --edge-highlight: inset 0 0.0625rem 0 rgba(255, 255, 255, 0.1);
  }
  html {
    color-scheme: dark;
  }
}

@layer components {
  .content {
    width: min(var(--container-width), 90%);
  }

  .crt {
    margin: 1rem 0 1rem;
    box-shadow: var(--edge-highlight), 0 0 0 .0625rem var(--primary-color-alpha), 0 .125rem .375rem .125rem var(--primary-color-alpha), 0 .25rem 1.5rem .25rem var(--primary-color-alpha);
    background: radial-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .85)), var(--primary-color);
}

.crt pre {
    animation: flicker .25s alternate infinite;
    margin: unset;
    box-shadow: unset;
    background-color:unset !important;
    padding: 1rem 1rem;
    color: var(--primary-color) !important;
    overflow: hidden;
    text-shadow: var(--primary-color-alpha) 0 0 .25rem,var(--primary-color) 0 0 .75rem;
}

@keyframes flicker {
    from {
        opacity: 1
    }

    25% {
        opacity: .95
    }

    50% {
        opacity: .85
    }

    75% {
        opacity: 1
    }

    to {
        opacity: .9
    }
}

@media (prefers-reduced-motion) {
    .crt pre {
        animation: none
    }
}

.scanlines {
    position: relative;
    overflow: hidden
}

.scanlines::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    animation:scanlines .25s linear infinite;
    background:repeating-linear-gradient(to top, rgba(0,0,0,.25), rgba(0,0,0,.25) .0625rem, rgba(0,0,0,0) .1875rem, rgba(0,0,0,0) .25rem);
    width: 100%;
    height: calc(100% + .5rem);
    pointer-events: none;
    content:"";
}

@keyframes scanlines {
    from {
        transform: translateY(-.5rem)
    }

    to {
        transform: translateY(0)
    }
}

@media (prefers-reduced-motion) {
    .scanlines::before {
        animation: none
    }
}

.scanlines::after {
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    animation: scanline 5s linear infinite;
    background: linear-gradient(to top, rgba(0,0,0,0) 0%, var(--primary-color-alpha) 10%, rgba(0,0,0,0) 100%);
    width: 100%;
    height: 8rem;
    pointer-events: none;
    content:"";
}

@keyframes scanline {
    from {
        bottom: 100%
    }

    50% {
        bottom: 100%
    }

    to {
        bottom: -8rem
    }
}

@media (prefers-reduced-motion) {
    .scanlines::after {
        animation: none
    }
}
}

html {
  min-width: 360px;
}

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all no-underline
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover>.anchor {
  @apply visible;
}

.prose pre {
  @apply bg-accent rounded-lg overflow-x-auto border border-accent;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  @apply m-0;
}

.prose h2,
h3,
h4 {
  @apply font-medium tracking-tighter !important;
}

.prose strong {
  @apply font-medium;
}

.prose> :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: 500;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout>p {
  margin: 0 !important;
}

.title {
  text-wrap: balance;
}

